@import "variables"; 
@import "plugins/scrollbars";

.markdown code { 
    background: $black; 
    color: $terminal-blue;
    padding: 2px;
  } 

.markdown pre { 
    background: $black; 
    color: $terminal-blue;
    padding: 2px;
  }

.markdown blockquote { 
    background: $black;
    border-color: $grey-dark; 
    color: $terminal-red;
  }

.markdown hr { 
    background-color: $terminal-blue; 
  }

body { 
    color: $grey-light;
    background: $grey-dark; 
  }

// book.scss
.container {
    max-width: $container-max-width;
  }

@media screen and (min-width: $container-max-width) {
  }

.book-search {
  background: $terminal-blue;
}

// img {
//   width: 10%;
//   margin: auto;
// }

.markdown img {
  max-width: 15%;
}

.book-toc {
  img {
    width: 100%;
    filter: brightness(0) invert(1);
  }
}

// a {
//   text-decoration: none;
//   color: $terminal-green;

//   &:visited {
//     color: $white;
//   }
// }

.book-posts {
    min-width: $body-min-width;
    max-width: $body-min-width * 4;
  }

  aside nav ul {
    a {
      display: block;
      color: $terminal-blue;
    }
  
    a:hover {
      opacity: 0.5;
      color: $white;
    }
  }

  .book-footer {
    a {
      color: $terminal-blue;
    }
  }

  h3 {
    color: $terminal-blue;
  }

  h4 {
    color: $terminal-green;
  }

  // Wrap text in code blocks
  .markdown pre code {
    white-space: break-spaces;
}


// Make blockquotes look like code styling
.markdown blockquote {
  margin: 1rem 0;
  padding: 2px;
  border-left: none;
}

blockquote {
  display: block;
  font-family: roboto mono,monospace;
  font-size: .875em;
}